

.chat {

  &-msg {
    position: relative;
    background-color: #eceff4;
    flex: 1 1 auto;
    margin-bottom: 50px;
  }
}

.msg {
  @include absolute(0,0,0,0);
  padding: 24px 16px 5px;
  box-sizing: border-box;
  overflow: auto;
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
  }
  &-avatar {
    position: relative;
    display: inline-block;
    img {
      display: block;
      @include size(50px);
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    .icon {
      display: inline-block;
      @include absolute(null, 0, 0, null);
      @include size(16px);
      border-radius: 100%;
      border: 2px solid white;
      background-color: $color-primary;
      box-sizing: border-box;
    }
    .offline {
      background-color: $color-secondary;
    }
  }
  &-info {
    position: relative;
    flex: 1;
    padding: 0 12px;
    box-sizing: border-box;
    .info-title {
      @include font-bold();
      font-size: 18px;
      line-height: 1.1;
      color: $color-black;
    }
    .info-subtitle {
      font-size: 14px;
      color: $color-black;
    }
  }
  &-actions {
    .group {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .time {
      text-align: right;
      line-height: 1;
      font-size: 14px;
      color: $color-grey;
    }
    
    .pin {
      display: inline-block;
      color: $color-grey;
      margin-right: 6px;
      svg {
        display: block;
        height: 18px;
        width: 18px;
        margin-bottom: 0;
      }
    }
    .bullet {
      display: inline-block;
      @include size(18px);
      border-radius: 50%;
      font-size: 14px;
      text-align: center;
      line-height: 18px;
      color: white;
      overflow: hidden;
      background-color: $color-secondary;
    }
  }
}